@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.App {
  margin: 50px auto;
  width: 70%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
}

.App li {
  list-style: none;
  font-size: 18px;
  color: black;
  margin: 10px;
}

.App li a {
  color: black;
}

.App a:visited {
  color: black;
}

.App a:hover {
  color: cornflowerblue;
}
